*{
    font-family: 'Roboto Mono', monospace;
    --color-primary: #068898;
    --color-secondary: #00BCD4;
    --color-tertiary: #ff5722;
    --color-white: #fefefe;
    --box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

.invisible{
    display: none;
}

h2{
    font-size: 3rem;
    padding-left: 1.5rem;
    color: var(--color-tertiary);
    text-align: center;
}

h3{
    font-size: 2.5rem;
    padding-left: 2rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

h3 a:hover{
    border-width: 2px;
    border-color: var(--color-secondary);
}

.primary{
    color: var(--color-primary);
}

.overline{
    text-decoration: overline;
}

a{
    text-decoration: none;
    transition: all .1s linear;
    border-bottom: 1px solid transparent;
}

a:link{
    color: inherit;
}
a:visited{
    color: inherit;
}
a:hover{
    color: inherit;
}
a:active{
    color: inherit;
}